<!-- <app-header></app-header>
<h2>Como podemos ajudar?</h2>
<img src="" alt="">
<div class="contato-container">
    <p>Entre em contato conosco através do formulário abaixo:</p>
    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" ngModel required>
        </div>
        <div class="form-group">
            <label for="email">Endereço de mail:</label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        div class="form-group">
            <label for="telefone">Categoria do assunto:</label>
            <input type="radio" name="" id="">
            <input type="tel" id="telefone" name="telefone" ngModel required>
        <div class="form-group">
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" ngModel required></textarea>
        </div>
        <button type="submit" [disabled]="!contatoForm.valid">Enviar</button>
    </form>

    <div *ngIf="submitted">
        <p>Mensagem enviada com sucesso!</p>
    </div>
<app-footer></app-footer> -->