<h1>ADICIONAR PRODUTO</h1>

    <div class="content-container">
        <form class="form">
            <div class="input-grupo">
                 <label for="input-id">ID:</label>
                <input class="input-simples" id="input-id" type="text" name="input-id" placeholder="Digite o ID" [(ngModel)]="produto.id"> 
                
            </div>

            <div class="input-grupo">
                <label for="input-categoria">Categoria:</label>
                 <input class="input-simples" id="input-categoria" type="text" name="input-categoria" placeholder="Digite a Categoria" [(ngModel)]="produto.categoria" > 
            </div>

            <div class="input-grupo">
                <label for="input-serie">N° de Série:</label>
                <input class="input-simples" id="input-serie" type="text" name="-input-serie" placeholder="Digite o N° de Série" [(ngModel)]="produto.nSerie" >
                
            </div>

            <div class="input-grupo">
                <label for="input-nome">Nome:</label>
                <input class="input-simples" id="input-nome" type="text" name="input-nome" placeholder="Digite o Nome" [(ngModel)]="produto.nome"
 >
            </div>

            <div class="input-grupo">
                <label for="input-tamanho">Tamanho:</label>
                <input class="input-simples" id="input-tamanho" type="text" name="input-tamanho" placeholder="Digite o Tamanho" [(ngModel)]="produto.tamanho">
            </div>

            <div class="input-grupo">
                <label for="input-fabricante">Fabricante:</label>
                <input class="input-simples" id="input-fabricante" type="text" name="input-fabricante" placeholder="Digite o Fabricante" [(ngModel)]="produto.fabricante" >
            </div>

            <div class="input-grupo">
                <label for="input-quantidade">Quantidade:</label>
                <input class="input-simples" id="input-quantidade" type="text" name="input-quantidade" placeholder="Digite a Quantidade" [(ngModel)]="produto.quantidade" >
            </div>

            <div class="input-grupo">
                <label for="input-valor">Preço:</label>
                <input class="input-simples" id="input-valor" type="text" name="input-valor" placeholder="Digite o Preço" [(ngModel)]="produto.preco">
                
            </div>

            <div class="descricao">
                <label for="input-descricao">Descrição:</label>
                <textarea id="descricao" name="input-descricao" class="input-simples" placeholder="Digite a Descrição" [(ngModel)]="produto.descricao"></textarea>
            </div>

            <button type="button" class="input-submeter" (click)="submeter()">Cadastrar</button>
            <button class="input-submeter" (click)="cancelar()">Cancelar</button>
        </form>
    </div>