<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=430, height=939, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/AndClimbX/favicon.ico" />
    <link rel="stylesheet" href="/AndClimbX/src/root.css" />
    <title>AndClimbX</title>
  </head>
  <body>
    <!-- MENU -->
    <app-header></app-header>

    <router-outlet></router-outlet>
    
    <!-- FOOTER -->
    <app-footer></app-footer>
  </body>
</html>
