<div class="app_mobile_responsive">
    <div class="home-info">
        <h1>ESCALE MAIS ALTO</h1>
        <h1>EXPLORE SEM LIMITES</h1>
        <p>
            Para quem vive para escalar, explorar e desafiar os próprios limites.
        </p>
        <p>
            Equipe-se e vá além!
        </p>
    </div>
    
    <!-- aqui ficaria o carrossel de imagens, fazer componente? -->
    
    <h2>Sapatilha X-Grip Pro</h2>
    <img src="" alt="">
    
    <!-- aqui ficaria o carrossel de produtos, fazer componente? -->
    
    <h2>Nossos Produtos</h2>
    <img class="icon-amarelo-detalhe" src="assets/icons/icon_amarelo.png" alt="">
    <div class="apresentacao-produtos">
        <div>
            <img src="assets/imgs/img-apresentacao-produto-01.png" alt="" class="img-apresentacao-produto">
        </div>
        
        <div>
            <img src="assets/imgs/img-apresentacao-produto-02.png" alt="" class="img-apresentacao-produto">
        </div>
        
        <div>
            <img src="assets/imgs/img-apresentacao-produto-03.png" alt="" class="img-apresentacao-produto">
        </div>
        
        <div>
            <img src="assets/imgs/img-apresentacao-produto-04.png" alt="" class="img-apresentacao-produto">
        </div>
    </div>
</div>
