<!-- CONTAINER SLIDE -->
<div class="slider">
    <div class="slides">
      <!-- Radio buttons/ botões de opções-->
      <input type="radio" name="radio-btn" id="radio1" checked>
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <!-- Fim Radio Buttons -->

      <!-- Slide imagens -->
      <div class="slide first">
        <a href=""><img src="assets/imgs/imgs_page_home/Evento_BrunoMars.png" alt="brunoMars"></a>
        <!-- colocar o link da pag de evento do brunin -->
      </div>
      <div class="slide">
        <a href=""><img src="assets/imgs/imgs_page_home/Evento_Niall.png" alt="niall"></a> <!-- colocar o link da pag de evento do Niall -->
      </div>
      <div class="slide">
        <a href=""><img src="assets/imgs/imgs_page_home/Evento_Lollapalooza.png" alt="lollapalooza"></a>
        <!-- colocar o link da pag de evento do lola -->
      </div>
      <!-- Fim Slide imagens -->

      <!-- Navegação automatica -->
      <div class="navegation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
      </div>

    </div>
  </div>

  <div class="manual-navegation">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
  </div>

  </div>

  <!-- SCRIPT DO SLIDE -->
  <script src="/src/js/carousel_home.js"></script>

  