<h1>Quem somos?</h1>

<img src="assets/imgs/logo-acx.png" alt="">

<p>A AndClimbX nasceu da paixão pela escalada e do desejo de oferecer produtos de alta qualidade para quem busca desafiar seus limites. Nossa missão é conectar escaladores de todos os níveis às melhores soluções em equipamentos, roupas e acessórios, garantindo segurança, desempenho e aventura sem limites.</p>

<h2>Conheça ACX - Kids</h2>
<a href="pages/instituicao-acx/instituicao-acx.componente.html">
    <img src="assets/imgs/crianca-escalando-2.png" alt="">
</a>