h1, h2 {
    font-family: var(--font-title);
    color: var(--font-color-title);
    align-items: center;
    text-align: center;
}

p {
    font-family: var(--font-text);
    color: var(--font-color-text);
}