<div class="container-instituicao">
    <h1>ACX - Kids</h1>
    
    <img src="assets/imgs/crianca-escalando.png" alt="">
    
    <p>A ACX - Kids nasceu para levar alegria, movimento e superação a crianças de comunidades periféricas. Acreditamos que a escalada vai muito além do esporte: é uma ferramenta de transformação, que fortalece o corpo, estimula a autoconfiança e mostra que é possível superar limites — na parede e na vida.</p> <p>Queremos que mais crianças tenham acesso a essa experiência única. Seja um voluntário ou contribua financeiramente para que a escalada chegue a quem mais precisa. Juntos, podemos abrir caminhos para novos horizontes!</p> <p>Por meio de oficinas adaptadas, nossos instrutores criam um ambiente seguro, divertido e inspirador. Cada subida representa uma conquista, cada desafio vencido fortalece o espírito. Mais do que atividade física, oferecemos momentos de empoderamento, pertencimento e esperança.</p>
    
    <img src="assets/imgs/andre-baby.png" alt="">
    
    <span>
        <p>Você pode fazer parte dessa jornada! Seja um voluntário, ajude na organização das oficinas ou contribua financeiramente para que mais crianças tenham a chance de escalar novos horizontes.</p>
    </span>
    
    <div class="titulo-icon">
        <img class="icons-title icon01" src="assets/icons/calendario.png" alt="">
        <h2>Horários</h2>
    </div>
    <div class="decoracao-titulo"></div>
    <ul>
        <li>Seg à Sex 6h às 21h;</li>
        <li>Sáb e Dom 10h às 16h.</li>
    </ul>
    
    <div class="titulo-icon">
        <img class="icons-title icon02" src="assets/icons/pin-de-localizacao.png" alt="">
        <h2>Onde estamos?</h2>
    </div>
    <div class="decoracao-titulo"></div>
    
    <img src="assets/imgs/google-maps.png" alt="">
    
    <p>Estamos localizados na Av. Eng. Eusébio Stevaux, 823, no coração de Santo Amaro, em São Paulo – SP. </p>
    
    <div class="titulo-icon">
        <img class="icons-title icon03" src="assets/icons/agendar.png" alt="">
        <h2>Ajude aqui!</h2>
    </div>
    <div class="decoracao-titulo"></div>
    <p>Entre em contato e nos conte como quer ajudar a ACX - Kids! Estamos à disposição para proporcionar uma vivência única e segura.</p>
    
    <button routerLink="/contato">CONTATE-NOS</button>
</div>