<h1>ACX - Kids</h1>

<img src="assets/crianca-escalando.png" alt="">

<p>A ACX - Kids nasceu para levar alegria, movimento e superação a crianças em tratamento oncológico. Acreditamos que a escalada não é apenas um esporte, mas uma ferramenta poderosa para fortalecer corpo e mente, incentivando cada criança a ir além dos seus próprios limites.
Você pode fazer parte dessa jornada! Seja um voluntário ou contribua financeiramente para que mais crianças tenham a chance de escalar novos horizontes.
Juntos, podemos alcançar grandes alturas!</p>
<p>Por meio de oficinas adaptadas, nossos instrutores especializados criam um ambiente seguro e motivador, onde cada pequena conquista representa um grande passo rumo à confiança e ao bem-estar. Mais do que atividade física, oferecemos momentos de diversão, conexão e esperança.</p>

<img src="assets/andre-baby.png" alt="">

<p>Você pode fazer parte dessa jornada! Seja um voluntário, ajude na organização das oficinas ou contribua financeiramente para que mais crianças tenham a chance de escalar novos horizontes.</p>

<h2>Horários</h2>
<ul>
    <li>Seg à Sex 6h às 21h;</li>
    <li>Sáb e Dom 10h às 16h.</li>
</ul>

<h2>Onde estamos?</h2>

<img src="assets/google-maps.png" alt="">

<p>Estamos localizados na Av. Eng. Eusébio Stevaux, 823, no coração de Santo Amaro, em São Paulo – SP. </p>

<h2>Ajude aqui!</h2>
<p>Entre em contato e nos conte como quer ajudar a ACX - Kids! Estamos à disposição para proporcionar uma vivência única e segura.</p>

<button>CONTATE-NOS</button>